<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Document</title>
	</head>
	<body>
		<tbody class="row-hover">
			<tr class="row-2 even">
				<td class="column-1">asperge blanche</td>
				<td class="column-2">15 minutes</td>
				<td class="column-3">8 minutes</td>
				<td class="column-4">20 minutes</td>
				<td class="column-5">-</td>
			</tr>
			<tr class="row-3 odd">
				<td class="column-1">asperge verte</td>
				<td class="column-2">15 minutes</td>
				<td class="column-3">8 minutes</td>
				<td class="column-4">20 minutes</td>
				<td class="column-5">-</td>
			</tr>
			<tr class="row-4 even">
				<td class="column-1">aubergine</td>
				<td class="column-2">20 minutes</td>
				<td class="column-3">5 minutes</td>
				<td class="column-4">15 minutes</td>
				<td class="column-5">5 minutes</td>
			</tr>
			<tr class="row-5 odd">
				<td class="column-1">blettes (feuilles)</td>
				<td class="column-2">5 à 10 minutes</td>
				<td class="column-3">3 minutes</td>
				<td class="column-4">5 minutes</td>
				<td class="column-5">-</td>
			</tr>
			<tr class="row-6 even">
				<td class="column-1">blette (côtes)</td>
				<td class="column-2">15 minutes</td>
				<td class="column-3">8 minutes</td>
				<td class="column-4">20 minutes</td>
				<td class="column-5">6 minutes</td>
			</tr>
			<tr class="row-7 odd">
				<td class="column-1">brocoli (fleurettes)</td>
				<td class="column-2">12 minutes</td>
				<td class="column-3">5 minutes</td>
				<td class="column-4">15 minutes</td>
				<td class="column-5">3 minutes</td>
			</tr>
			<tr class="row-8 even">
				<td class="column-1">carotte (rondelles)</td>
				<td class="column-2">25 minutes</td>
				<td class="column-3">15 minutes</td>
				<td class="column-4">30 minutes</td>
				<td class="column-5">8 minutes</td>
			</tr>
			<tr class="row-9 odd">
				<td class="column-1">céleri branche</td>
				<td class="column-2">15 minutes</td>
				<td class="column-3">5 minutes</td>
				<td class="column-4">15 minutes</td>
				<td class="column-5">6 minutes</td>
			</tr>
			<tr class="row-10 even">
				<td class="column-1">céleri-rave</td>
				<td class="column-2">20 minutes</td>
				<td class="column-3">8 minutes</td>
				<td class="column-4">30 minutes</td>
				<td class="column-5">-</td>
			</tr>
			<tr class="row-11 odd">
				<td class="column-1">champignon de Paris</td>
				<td class="column-2">12 minutes</td>
				<td class="column-3">5 minutes</td>
				<td class="column-4">10 à 15 minutes</td>
				<td class="column-5">-</td>
			</tr>
			<tr class="row-12 even">
				<td class="column-1">chou chinois (émincé)</td>
				<td class="column-2">6 minutes</td>
				<td class="column-3">3 minutes</td>
				<td class="column-4">10 minutes</td>
				<td class="column-5">5 minutes</td>
			</tr>
			<tr class="row-13 odd">
				<td class="column-1">chou de Bruxelles</td>
				<td class="column-2">15 minutes</td>
				<td class="column-3">5 minutes</td>
				<td class="column-4">20 minutes</td>
				<td class="column-5">5 minutes</td>
			</tr>
			<tr class="row-14 even">
				<td class="column-1">chou-fleur (fleurettes)</td>
				<td class="column-2">20 minutes</td>
				<td class="column-3">10 minutes</td>
				<td class="column-4">25 minutes</td>
				<td class="column-5">7 minutes</td>
			</tr>
			<tr class="row-15 odd">
				<td class="column-1">chou-rave (râpé)</td>
				<td class="column-2">5 à 10 minutes</td>
				<td class="column-3">3 minutes</td>
				<td class="column-4">10 minutes</td>
				<td class="column-5">4 minutes</td>
			</tr>
			<tr class="row-16 even">
				<td class="column-1">chou rouge</td>
				<td class="column-2">20 minutes</td>
				<td class="column-3">10 minutes</td>
				<td class="column-4">25 minutes</td>
				<td class="column-5">7 minutes</td>
			</tr>
			<tr class="row-17 odd">
				<td class="column-1">concombre</td>
				<td class="column-2">10 minutes</td>
				<td class="column-3">2 minutes</td>
				<td class="column-4">10 minutes</td>
				<td class="column-5">3 minutes</td>
			</tr>
			<tr class="row-18 even">
				<td class="column-1">courgette</td>
				<td class="column-2">15 minutes</td>
				<td class="column-3">5 minutes</td>
				<td class="column-4">15 minutes</td>
				<td class="column-5">6 minutes</td>
			</tr>
			<tr class="row-19 odd">
				<td class="column-1">courge butternut</td>
				<td class="column-2">20 minutes</td>
				<td class="column-3">12 minutes</td>
				<td class="column-4">25 minutes</td>
				<td class="column-5">7 minutes</td>
			</tr>
			<tr class="row-20 even">
				<td class="column-1">endive</td>
				<td class="column-2">12 minutes</td>
				<td class="column-3">3 minutes</td>
				<td class="column-4">25 minutes</td>
				<td class="column-5">2 minutes</td>
			</tr>
			<tr class="row-21 odd">
				<td class="column-1">épinards</td>
				<td class="column-2">5 à 10 minutes</td>
				<td class="column-3">2 minutes</td>
				<td class="column-4">5 minutes</td>
				<td class="column-5">-</td>
			</tr>
			<tr class="row-22 even">
				<td class="column-1">fenouil (émincé)</td>
				<td class="column-2">15 minutes</td>
				<td class="column-3">5 minutes</td>
				<td class="column-4">20 minutes</td>
				<td class="column-5">-</td>
			</tr>
			<tr class="row-23 odd">
				<td class="column-1">fèves</td>
				<td class="column-2">15 minutes</td>
				<td class="column-3">5 minutes</td>
				<td class="column-4">20 minutes</td>
				<td class="column-5">-</td>
			</tr>
			<tr class="row-24 even">
				<td class="column-1">haricots verts</td>
				<td class="column-2">20 minutes</td>
				<td class="column-3">12 minutes</td>
				<td class="column-4">25 minutes</td>
				<td class="column-5">-</td>
			</tr>
			<tr class="row-25 odd">
				<td class="column-1">navet</td>
				<td class="column-2">15 minutes</td>
				<td class="column-3">8 minutes</td>
				<td class="column-4">20 minutes</td>
				<td class="column-5">7 minutes</td>
			</tr>
			<tr class="row-26 even">
				<td class="column-1">patate douce</td>
				<td class="column-2">20 minutes</td>
				<td class="column-3">10 minutes</td>
				<td class="column-4">25 minutes</td>
				<td class="column-5">7 minutes</td>
			</tr>
			<tr class="row-27 odd">
				<td class="column-1">panais</td>
				<td class="column-2">20 minutes</td>
				<td class="column-3">8 minutes</td>
				<td class="column-4">30 minutes</td>
				<td class="column-5">7 minutes</td>
			</tr>
			<tr class="row-28 even">
				<td class="column-1">pâtisson</td>
				<td class="column-2">20 minutes</td>
				<td class="column-3">10 minutes</td>
				<td class="column-4">30 minutes</td>
				<td class="column-5">-</td>
			</tr>
			<tr class="row-29 odd">
				<td class="column-1">petits pois (frais)</td>
				<td class="column-2">15 minutes</td>
				<td class="column-3">5 minutes</td>
				<td class="column-4">18 minutes</td>
				<td class="column-5">-</td>
			</tr>
			<tr class="row-30 even">
				<td class="column-1">petits pois (surgelés)</td>
				<td class="column-2">10 minutes</td>
				<td class="column-3">5 minutes</td>
				<td class="column-4">10 minutes</td>
				<td class="column-5">5 minutes</td>
			</tr>
			<tr class="row-31 odd">
				<td class="column-1">poireau</td>
				<td class="column-2">15 minutes</td>
				<td class="column-3">8 minutes</td>
				<td class="column-4">15 minutes</td>
				<td class="column-5">5 minutes</td>
			</tr>
			<tr class="row-32 even">
				<td class="column-1">poivron</td>
				<td class="column-2">10 minutes</td>
				<td class="column-3">5 minutes</td>
				<td class="column-4">15 minutes</td>
				<td class="column-5">6 minutes</td>
			</tr>
			<tr class="row-33 odd">
				<td class="column-1">pomme de terre</td>
				<td class="column-2">20 minutes</td>
				<td class="column-3">10 minutes</td>
				<td class="column-4">25 minutes</td>
				<td class="column-5">7 minutes</td>
			</tr>
			<tr class="row-34 even">
				<td class="column-1">potimarron</td>
				<td class="column-2">20 minutes</td>
				<td class="column-3">12 minutes</td>
				<td class="column-4">25 minutes</td>
				<td class="column-5">7 minutes</td>
			</tr>
			<tr class="row-35 odd">
				<td class="column-1">radis noir</td>
				<td class="column-2">15 minutes</td>
				<td class="column-3">5 minutes</td>
				<td class="column-4">-</td>
				<td class="column-5">-</td>
			</tr>
			<tr class="row-36 even">
				<td class="column-1">rutabaga</td>
				<td class="column-2">15 minutes</td>
				<td class="column-3">8 minutes</td>
				<td class="column-4">20 minutes</td>
				<td class="column-5">7 minutes</td>
			</tr>
			<tr class="row-37 odd">
				<td class="column-1">tomate</td>
				<td class="column-2">8 minutes</td>
				<td class="column-3">2 minutes</td>
				<td class="column-4">10 minutes</td>
				<td class="column-5">3 minutes</td>
			</tr>
			<tr class="row-38 even">
				<td class="column-1">topinambour</td>
				<td class="column-2">20 minutes</td>
				<td class="column-3">10 minutes</td>
				<td class="column-4">25 minutes</td>
				<td class="column-5">7 minutes</td>
			</tr>
		</tbody>
	</body>
</html></table></body></html>
